{% extends "base.html" %}
{% load reruns_filters %}
{% load tz %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>
<p>Rebroadcast old RSS/Atom feed items to a new feed, in shuffled or chronological order.</p>

<p>For information about the <code>rss-reruns</code> package, or this project itself, please see:</p>
<ul>
	<li><a href="https://github.com/hannahlog/rss-reruns">github.com/hannahlog/rss-reruns</a></li>
	<li><a href="https://github.com/hannahlog/reruns-django-site">github.com/hannahlog/reruns-django-site</a></li>
</ul>
{% endblock %}