{% extends "base.html" %}
{% load reruns_filters %}
{% load tz %}
{% block title %}Feed Detail: “{{ object.title }}”{% endblock %}

{% block content %}
<h2>Feed Detail</h2>
<p>
    <a href="{% url 'reruns:edit' object.id %}">Edit</a> |
    <a href="{% url 'reruns:delete' object.id %}">Delete</a>
</p>
<table class="feed-detail">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% for label, value in object|get_attributes:fields %}
        <tr>
            <td>{{ label|verbose:meta }}</td>
            <td>
                {% include "./field_value.html" with feed=object short_format=False %}
            </td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{% endblock %}