{% extends "base.html" %}
{% block title %}Feed Detail: {{ object.id }}{% endblock %}

{% block content %}
<table>
    {% for label, value in object.get_fields %}
        <tr>
            <td>{{ label }}</td>
            <td>{% if label != "contents"%}{{ value}} {% else %}<a href="feed.xml">feed</a>{% endif %}</td>
        </tr>
    {% endfor %}
        <tr>
            <td>Task last run</td>
            <td>{{ object.task.last_run_at }}</td>
        </tr>
        <tr>
            <td>Task next run (estimate)</td>
            <td>{{ object.next_task_run_estimate }}</td>
        </tr>
</table>
{% endblock %}